/*Formatierung des Bodys/Körpers*/
html, body{
	background-color:#ddfcde;
	height: 100%;
	}

 nav {
	 margin-left: 0px;
	 font-size: 18px;
	 width: 548px;
	 }

 article {
		 display : none;
		 }
		 
 article:target {
				display: block;
				}

		
/*Formatierung der Menu-Bar*/	
.menuBar{
	background-color: #a0f0ac;
}

.menuBar:hover {
	background-color: #76d384; 
	
}


/*CLASSES*/
#atBottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 1em;
	text-align:center;
}
#Seite {
    position: relative;
    min-height: 100%;
    width: 100%;


}
#Inhalt {
    padding-bottom: 3em;
}

.Content{
	padding-left: 200px;
	padding-right: 200px;
}
.androidContent{
	text-align:center;
}


button{
	background-color: #78C259;
	border-color: white;
}

#Gallery{
	text-align: center;
	width: 248px;
	height: 379px;
	margin: 0 auto;
	overflow: hidden;
}
#gallerie{
	text-align: center;
	width: 248px;
	height: 496px;
	margin: 0 auto;
	overflow: hidden;
}
#container{
	background-color: white;
	height: 520px;
  padding-top: 19px;
	width: 290px;
}
#wrapper{
	margin: 0;
	padding:0;
}
#Gallery figure {
	height:100%;
	animation-name: slide;
	animation-duration: 18s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	position: relative;
	margin: 0;
	padding: 0;
}
#gallerie figure {
	height:100%;
	animation-name: slide;
	animation-duration: 18s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	position: relative;
	margin: 0;
	padding: 0;
}
#Gallery img {
	margin: 0;
	padding: 0;
}
#gallerie img {
	margin: 0;
	padding: 0;
}
/*Animation */


#Gallery:hover figure {
	animation-play-state: paused;
}
#gallerie:hover figure {
	animation-play-state: paused;
}

@keyframes slide {
	0% {
		top: 0%
	}
	12% {
		top: 0%
	}
	16% {
		top: -100%
	}
	28% {
		top: -100%
	}
	32% {
		top: -200%
	}
	44% {
		top: -200%
	}
	48% {
		top: -300%
	}
	60% {
		top: -300%
	}
	65% {
		top: -400%
	}
	78% {
		top: -400%
	}
	83% {
		top: -500%
	}
	95% {
		top: -500%
	}
	100% {
		top: 0
	}
}

/*IDs*/
#Copyright {
	text-align: center;
}



/*FORMATIERUNG - LISTED | UNLISTED*/
li {
	float: left;
	border-right: 1px solid #bbb;
	display: block;
	}
   
li:last-child {
	border-right: none;
	background-color: none;
	}
	
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	}

ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
   }


/*FORMATIERUNG - TEXT | ÜBERSCHRIFTEN*/
h1 {
	text-align: center;
	font-size: 30px;
	}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

p {
	text-align: center;
	
}