/*Formatierung des Bodys/Körpers*/
body{
	background-color:#ddfcde;
	}

	
/*Formatierung des Dropdown Menüs*/	
.NavBar
	{
	background-color: #1111;
	}
	
.menuBar{
	background-color: #76d384;
}
.dropdown:hover .dropIt
	{
	display: block;
	}
	

.dropIt
	{
	display:none;
	position: absolute;
	background-color:  #F9F9F9;
	min-width: 160px;
	z-index: 1;
	}
    
.dropIt a
	{
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	}

.dropIt a:hover
	{
	background-color: #F1F1F1;	
	}


#Copyright {
	text-align: center;
}


.atBottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

	
li 
	{
	float: left;
	border-right: 1px solid #bbb;
	display: block;
	}
   
li:last-child 
	{
	border-right: none;
	background-color: none;
	}
	
li a
	{
	display: block;
	color: black;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	}
	
li .dropdown
	{
	display: inline-block;
	width: auto;	
	}